<nav class="navbar navbar-dark bg-faded">
  <%= link_to "Home", root_path, class: 'navbar-brand pull-xs-center' %>
  <ul class="nav navbar-nav">
    <li class="nav-item pull-right">
      <%= link_to "Data Table", clients_path, class: 'nav-link' %>

    </li>
    <li class="nav-item pull-right">
      <%= link_to "Messages", messages_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>